/* ---- Edit CSS ----

If you are unfamiliar with CSS, there are some learning resources in the help
section on the right-hand side of the page.

Here are some things you should know before you begin:

1. Any definitions you enter here will be related to your custom theme. If you
   change to a different theme, these definitions will no longer be visible on
   this page. If you switch back to your custom theme, your changes will be
   present.

2. Your custom css definitions will be included *after* the theme
   css files. So, your definitions will take precedence over the theme ones.

3. When you preview your changes, you are the only one who can see the preview.

4. Feel free to delete these comments!

*/

/**
 * Top Level
 * =========
**/

body {
  font-size: 16px;
  font-family: "dattofont";
  font-weight: 500;
  line-height: 1.5rem;
  color: #002a3a;
  background-color: #F5F6F7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  margin: 0 auto;
  display: flex;
}
main.row {
  flex:3;
}
main,
.discussions-header-container,
.navbar-nav,
.footer-inner {
  max-width: 1000px;
}
.site-content,
.discussions-header-text,
.navbar-brand {
  width: 70%;
}
a,
a:visited {
  color: #199ed9;
}
a:hover {
  color: #002a3a;
}

textarea,
input {
  padding: 10px !important;
  font-size: 1rem;
  color: #002a3a;
}
textarea:focus,
input.SmallInput:focus,
input.InputBox:focus,
.TextBoxWrapper input:focus {
  background: #fbfbfb;
}
input[type=text] {
  box-sizing: initial;
}
.TextBoxWrapper input:not([type=radio]):not([type=checkbox]) {
  width: 96%;
}

select {
  font-family: "dattofont";
  font-size: 1.5rem;
}
#Form_CategoryID {
  height: 25px;
  font-size: 0.875rem;
  border-radius: 0px !important;
}

.Meta,
.MItem,
.discussion-meta,
.CategoryDescription {
  color: #81949b !important;
}
.CommentCount,
.DiscussionCount {
  color: #b3bec3 !important ;
}

/**
 * Layout / lt-*
 * =====    ----
**/

.lt-flex-center {
  display: flex;
  align-items: center;
}

/**
 * Colors
 * =====
 *
 * blue: #199ed9;
 * teal: #54c0c0;
 * citrus: #b0d156;
 * midnight: #002a3a;
 * gray-light: #f5f6f7;
 * gray: #b3bec3;
 * gray-dark: #81949b;
 *
**/

/**
 * Fonts
 * =====
**/

@font-face {
  font-family: 'dattofont';
  font-style: normal;
  font-weight: 500;
  src: url(https://www.datto.com/fonts/dattofont-Regular.woff) format('woff');
}

@font-face {
  font-family: 'dattofont-bold';
  font-style: normal;
  font-weight: 500;
  src: url(https://www.datto.com/fonts/dattofont-Bold.woff) format('woff');
}

@font-face {
  font-family: 'dattofont-condensed-bold';
  font-style: normal;
  font-weight: 500;
  src: url(https://www.datto.com/fonts/dattofont-CondBold.woff) format('woff');
}

h1, h2, h3 {
  font-family: "dattofont-condensed-bold";
  margin: 0;
}

/**
 * Utility
 * =======
**/

.show {
  display: block !important;
}
.hide {
  display: none !important;
}

/**
 * Buttons / Dropdowns
 * ===================
**/

.Button,
.Button:focus,
.Next,
.Next:focus,
.Previous,
.Previous:focus {
  display: inline-block;
  padding: 6px 15px 4px !important;
  margin-bottom: 0;
  font-size: 0.875rem !important;
  font-weight: 600;
  font-family: 'dattofont';
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #199ed9;
  background-image: none;
  border: 1px solid #199ed9;
  border-radius: 0;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: none;
  box-shadow: none;
}
.Button:visited,
.Next:visited,
.Previous:visited {
  color: #FFF;
}
.Button:hover,
.Next:hover,
.Previous:hover,
.Button:active,
.Next:active,
.Previous:active {
  color: #199ed9;
  border: 1px solid #199ed9 !important;
  border-color: #199ed9 !important;
  background-color: #FFF !important;
  background: #FFF !important;
}
.Handle,
.Handle:focus {
  padding: 5px 11px !important;
}
.MenuItems {
  margin: 0;
  padding: 0;
  font-size: 0.75rem !important;
  font-weight: 500;
  font-family: 'dattofont';
  line-height: 1.42857143;
  border: 0;
}
.MenuItems a {
  padding: 10px 20px !important;
  color: #002a3a !important;
  text-transform: uppercase;
  border: none;
}
.MenuItems a:hover {
  background-color: #e5e9eb !important;
}
.MenuItems hr {
  margin: 0;
}


.ProfileOptions .NavButton {
  border-radius: 0;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  padding: 8px 15px 6px !important;
  border: 1px solid #b3bec3;
  background: #fff;
}

/**
 * Forms
 * =====
**/

form {
  font-family: "dattofont" !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  color: #002a3a !important;
}
/**
 * Search Bar
 * ==========
**/

.search-container {
  margin-top: 25px;
}
.discussions-search-container {
  margin-top: -42px;
}
.search-container #Form_Search {
  width: 38.5rem;
}
#Form_Search {
  padding: 6px 5px 8px 40px !important;
  font-size: 1rem;
  font-family: 'dattofont';
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
}
#Form_Go {
  display: none;
}
.search-container i {
  position: relative;
  left: -18.25rem;
  top: 28px;
  font-size: 1.5rem;
}
.discussions-search-container i {
  position: relative;
  top: 28px;
  font-size: 1.5rem;
}
input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}
input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  color: white;
  opacity: 0.5;
}
input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

/**
 * Navbar
 * ======
**/

.navbar {
  background-color: #002a3a; // midnight
  border-bottom: none;
}

.navbar-nav {
  margin: 0 auto;
  padding: 15px 0;
}

.navbar-brand {
  display: flex;
  align-items: flex-end;
  margin-right: 50px;
}
.navbar-logo {
  display: block;
  margin: -25px 0;
  width: 90px;
  font-size: 90px;
  color: #FFFFFF;
}
.navbar-logo:hover,
.navbar-logo:active,
.navbar-logo:visited {
  color: #FFF;
}
.navbar-brand img {
  display: none;
}
.navbar-product {
  margin: 0 0 7px 15px;
  padding: 1px 0 0 15px;
  border-left: 1px solid #FFF;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #FFF;
  text-transform: uppercase;
}

.navbar-meModule .WhoIs {
  display: flex;
  align-items: center;
  min-height: 0px;
  margin-top: -7px;
}
.navbar-meModule .PhotoWrap {
  display: none;
}
.navbar-meModule .Username {
  order: 5;
  margin-left: 5px;
}
.navbar-meModule .MeMenu {
  margin-top: 6px;
}
.navbar-meModule .Username,
.MeBox-SignIn .SignInLinks a {
  margin-bottom: -6px;
  padding: 10px 25px 7px;
  font-family: "dattofont";
  text-transform: uppercase;
  color: #FFF;
}
.navbar-meModule .Username:hover,
.MeBox-SignIn .SignInLinks a:hover {
  color: #002a3a;
  background-color: #e5e9eb;
}
.navbar-meModule .MeBox-SignIn {
  display: block;
}
.MeBox-SignIn .Bullet {
  display: none;
}

.Popup .Border {
  background: none;
  padding: 0;
}
.Popup .Content {
  padding: 15px 25px;
  font-family: "dattofont";
  font-size: 1rem;
  line-height: 1.5rem;
}
.Popup .CreateAccount {
  margin-top: 5px;
}
.Popup .Buttons {
  margin-top: 25px;
}
.Popup .Buttons .CreateAccount {
  margin-top: 15px;
}
.Popup li > label {
  color: #81949b;
  text-transform: uppercase;
}
.Popup .Body {
  border: 1px solid #b3bec3;
}
.Overlay {
  background-color: rgba(0,42,58,0.25);
}

.MeBox .Flyout {
  width: initial;
  min-width: 100px;
  left: initial;
  right: -112px;
  white-space: nowrap;
  font-size: 0.875rem;
  border: none;
  border-radius: 0;
}
.Flyout .Item {
  margin: 0;
  padding: 5px 15px;
  -ms-text-align-last: auto;
}
.Flyout:before,
.Flyout:after {
  left: initial;
  right: 118px;
}
.PopList .Item.Title {
  padding: 5px 14px 2px;
  text-transform: uppercase;
  color: #B3BEC3;
  font-weight: 400;
}
.PopList .Item.Title a {
  font-size: 0.75rem;
}
.PopList .ItemContent {
  margin: 0;
  line-height: inherit;
}
.PopList a {
  color: #199ed9;
}
.Close span {
  font-weight: 400;
  color: #b3bec3;
}

/**
 * Sidebar
 * =======
**/

.site-sidebar {
  margin: 37px 0 0;
}
.profile-sidebar {

}

.BoxPromoted {
  margin: 35px 0;
}
.BoxPromoted h4 {
  margin-bottom: 10px;
  color: #b3bec3;
  font-family: 'dattofont-condensed-bold';
  font-size: 1.5rem;
  text-transform: uppercase;
}
.BoxPromoted .PromotedGroup .Item {
  padding: 0;
  border: none !important;
}
.BoxPromoted .PromotedGroup .Item div {
  display: none;
}
.BoxPromoted .PromotedGroup .Item .Title {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-family: "dattofont";
  line-height: 1.5rem;
}

.sidebar-coc {
  color: #199ed9 !important;
  border: 1px solid #199ed9;
  border-color: #199ed9;
  background-color: #FFF;
  background: #FFF;
}

/**
 * Footer
 * ======
**/

.footer {
  position: relative;
  width: 100%;
  overflow: auto;
  background-color: #e5e9eb;
  margin-top: 5%;
}
.footer a {
  font-size: 0.875rem !important;
}

.footer-inner {
  margin: 0 auto;
  padding: 0 25px;
}

.footer-left,
.footer-right {
  padding: 50px 25px 50px 0px;
  width: 37.5%;
  float: left;
  display: flex;
}

.footer-left ul:last-child,
.footer-right ul:last-child {
  float: right;
  padding-right: 0;
}

.footer ul {
  float: left;
/*  padding: 50px 5% 30px; */
  padding: 0 25px 0 0;
  margin: 0;
  width: 50%;
}

.footer ul li:first-child {
 font-weight: 600;
 text-transform: uppercase;
 padding-bottom: 10px;
}

.footer ul li a {
  color: #9aa9af;
}
.footer ul li a:hover {
  color: #199ed9;
}

/**
 * Breadcrumbs
 * ===========
**/

.Breadcrumbs {
  display: block;
  margin: 5px 0;
}
.Breadcrumbs a {
  text-transform: uppercase;
  color: #FFF;
}
.Breadcrumbs a:hover,
.Breadcrumbs a:active {
  color: #002a3a;
}

/**
 * Landing / Category List
 * =======================
**/

.categories-header {
  padding: 50px 0;
  color: white;
  text-align: center;
  background-color: #199ed9;
}

.categories-header h1 {
  margin: 15px 0 20px 0;
  font-size: 3.5em;
  /*text-transform: uppercase;*/
}

.categories-header h3 {
  font-size: 2.25em;
}

.HomepageTitle {
  display: none;
}

.CategoryList {
  border: none;
  box-shadow: none;
}

.CategoryList .Depth1 {
  padding: 25px 0 0;
  color: #b3bec3;
  font-family: 'dattofont-condensed-bold';
  border: none;
}
.CategoryList .Depth1:nth-child(2) {
  padding: 0;
}
.CategoryList .Depth1 .Category {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.CategoryList .Depth2 {
  padding: 25px 25px 0!important;
  margin: 12.5px 0 25px !important;
  border: 1px solid #B3BEC3 !important;
  background-color: white !important;
}

.CategoryList .TitleWrap a {
  font-size: 1.75rem;
  font-family: "dattofont-condensed-bold";
}

.CategoryList .CategoryDescription {
  color: #B3BEC3;
  font-size: 0.875rem;
}

.CategoryList .Meta {
  margin-top: 13px;
  font-size: 0.875rem;
  color: #B3BEC3;
}
.CategoryList .Meta .MItem {
  display: none;
}

.CategoryList .Meta .DiscussionCount {
  display: block;
  position: absolute;
  top: 23px;
  right: 16px;
  font-size: 3rem;
}

.CategoryList .Meta .DiscussionCount span {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 30px;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  cursor: default;
}

.CategoryList .Meta .RSS,
.CategoryList .Meta .CommentCount,
.CategoryList .Meta .LastCommentDate,
.CategoryList .ItemContent .Options {
  display: none;
}
.Conversation .Item:last-child {
  border-bottom: 0;
}

.CategoryDescription {
  padding-bottom: 25px;
  border-bottom: 2px solid #b3bec3;
}

.site-row {
  display: flex;
  width: 100%;
  margin: 25px 0 30vh;
}

.site-content {
  margin-right: 50px;
}

/* RSS Feeds / Recent discussions per category */
.discussion-meta {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  border-top: 1px solid #b3bec3;
  font-size: 0.75rem;
  color: #b3bec3;
}
.discussion-meta p {
  margin: 0;
}

.discussion-meta-title {
  width: 100%;
  font-size: 1rem;
  color: #199ed9;
  font-weight: 600;
}

.discussion-meta-created {
  padding-right: 5px;
}
.CategoryList .Category-announcements {
  display: none;
}

/**
 * Discussions List
 * ================
**/

.discussions-header {
  color: white;
  text-align: left;
  background-color: #199ed9;
}
.discussions-header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
}

.discussions-header-text {
  margin-right: 50px;
  margin-bottom: -15px;
}

.discussions-header h3 {
  font-size: 2.25rem;
}
.discussions-label {
  margin: 0 0 12.5px;
  color: #b3bec3;
  font-family: 'dattofont-condensed-bold';
  font-size: 1.5rem;
  text-transform: uppercase;
}

.Discussions > .Item,
.Conversations > .Item,
.Profile .Activities > .Item {
  padding: 15px;
  margin-bottom: -1px;
  background-color: #FFF;
  border: 1px solid #b3bec3;
}
#search-results>.Item {
  padding: 9px 15px;
}
.Read .Title a {
  color: #002a3a !important;
  opacity: 0.6 !important;
}
.Read .Title a:hover {
  opacity: 1 !important;
}
.Discussions .Discussion {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Discussions .Item .Options,
.Discussions .Discussion .ViewCount {
  display: none;
}
.Discussions .Discussion .Title {
  margin-top: -3px;
}
#search-results .Discussion .Title {
  margin-top: 3px;
}
.Discussions .Discussion .Title a {
  font-size: 1.125rem;
  font-weight: 600;
}
.Discussions .Discussion .Meta {
  font-size: 0.875rem;
}
.Discussions .Discussion .MItem {
  margin: 0;
  color: #b3bec3;
}
.Discussions .Discussion .MItem:last-child {
  margin-left: 5px;
}
.Discussions .Discussion .CommentCount {
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 2.25rem;
}
.Discussions .Discussion .CommentCount span {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  cursor: default;
}

.Discussions .Discussion .Tag- {
  position: relative;
  top: 3px;
  padding: 0;
  font-size: 1.25rem;
  color: #b0d156;
  background-color: transparent;
}

.discussion-author {
  margin-right: 15px;
}
.discussion-info {
  margin-bottom: -6px;
}

/**
 * Search Results List
 * ================
**/

mark {
  background: none;
  /*color: #b0d156;*/
  font-size: 1rem;
  font-weight: 600;
}
.HasNew {
  background-color: #54c0c0;
  font-size: 0.75rem;
  color: white;
  border-radius: 0;
}

.Discussion .Summary {
  align-self: flex-end;
  flex: 1;
  padding-left: 25%;
  font-size: 0.875rem;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Media {
  margin: 0;
}
.Media .Img {
  margin: 0;
}

.Discussion .Bullet {
  display: none;
}

#PagerBefore {
  margin-top: 15px;
}

/**
 * Discussion View
 * ===============
**/

.MessageList,
.CommentFormWrap,
.User,
.Profile .FormWrapper,
#MessageForm .MessageFormWrap,
.FormTitleWrapper {
  padding: 25px 50px;
  margin-bottom: 50px;
  background-color: #FFF;
  border: 1px solid #b3bec3;
}
.MessageList .PageTitle h1 {
  font-size: 2rem;
  line-height: 3rem;
}
.MessageList .ItemDiscussion {
  padding: 0;
  margin: 0;
}
.MessageList .ItemDiscussion .Item-Header {
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #b3bec3;
}
.MessageList .ItemDiscussion .Item-Header .Author a {
  font-size: 1rem;
}
.MessageList .ItemDiscussion .Item-Header .Author img {
  margin-top: 4px;
}
.MessageList .ItemDiscussion .Item-Header a {
  font-size: 0.875rem;
}
.MessageList .ItemDiscussion .Item-Header .Meta {
  margin-top: 1px;
  font-size: 0.875rem;
}
.MessageList .ItemDiscussion .Item-Header .Meta .MItem {
  margin: 0;
}
.MessageList .ItemDiscussion .Item-Header .Meta .IPAddress {
  display: none;
}
.MessageList .ItemDiscussion .Message {
  font-size: 1rem;
}
.MessageList .ItemDiscussion .Message p,
.CommentsWrap .MessageList .Item .Message p {
  margin: 15px 0;
}

.CommentsWrap .MessageList .Item,
.Conversation .Item {
  padding: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #b3bec3;
}
.CommentsWrap .MessageList .Item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.CommentsWrap .MessageList .>ctions {
  display: none;
}
.CommentsWrap .MessageList .Item .Meta a {
  font-size: 0.875rem;
}
.CommentsWrap .MessageList .Item .Meta .IPAddress {
  display: none;
}
.CommentsWrap .MessageList .Item .Username {
  position: relative;
  top: -5px;
}

.FormWrapper {
  background: #FFF;
}
.CommentFormWrap .FormWrapper {
  padding-bottom: 0 !important;
}
.FormWrapper .Buttons {
  padding: 0;
}
.FormWrapper .Buttons .Back {
  display: none;
}
.FormWrapper .Buttons .DraftButton {
  display: none;
}
.FormWrapper .Buttons .PreviewButton,
.FormWrapper .Buttons .WriteButton,
.FormWrapper .Buttons .Cancel  {
  margin: 0;
  color: #199ed9;
  border: 1px solid transparent;
  background-color: transparent;
}
.FormWrapper .Buttons .PreviewButton:hover,
.FormWrapper .Buttons .WriteButton:hover,
.FormWrapper .Buttons .Cancel:hover  {
  color: #002a3a;
  background-color: #e5e9eb !important;
  border: 1px solid #e5e9eb !important;
}
a.Cancel {
  margin-left: 0 !important;
}
.Form-Header .Author .PhotoWrap {
  margin: 0;
}
.FormWrapper .Category {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.FormWrapper label,
.PostOptions li>b {
  font-size: 0.875rem;
  color: #81949b;
  text-transform: uppercase;
}
.FormWrapper div>label,
.PostOptions li>b {
  text-transform: uppercase;
}
.DiscussionForm .PostOptions>li {
  display: flex;
  flex-direction: column;
}
.DiscussionForm .PostOptions>li .List {
  margin: 2px 0 10px;
}

/**
 * Profile View
 * ============
**/

.Profile .About .Name,
.Profile .About .Joined,
.Profile .About .Visits,
.Profile .About .LastActive,
.Profile .About .IP,
.Profile .About .Email {
  display: none;
}
.Profile .MeBox {
  display: block;
}
.UserBox,
.MeBox {
  margin: 0;
}
.ProfileOptions,
.ProfileOptions:focus {
  position: relative;
  float: none;
  top: 37px;
  left: 91.75%;
  width: 200px;
  height: 0;
}
.ProfileOptions>a {
  position: absolute;
  margin-left: -105px;
  margin-top: 30px;
}
.MeButton .Alert {
  font-size: 0.75rem;
  padding: 2px 2px 0;
}
.MeButton:hover {
  background: rgba(228, 233, 235, 1);
}

.site-content .BoxProfileFilter {
  display: none;
}
/* Profile Sidebar */
.BoxProfileFilter {
  margin-top: 25px;
  padding: 0 25px;
  width: 126px;
  background-color: #FFF;
  border: 1px solid #b3bec3;
}
.BoxProfileFilter li a {
  font-size: 0.875rem !important;
  font-weight: 600;
  font-family: 'dattofont';
  line-height: 1.42857143;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;

}
.BoxProfileFilter .Active a,
.BoxProfileFilter li a:hover {
  color: #199ed9;
}
.BoxProfileFilter li a {
  color: #b3bec3;
}
.BoxProfileFilter li {
  padding: 8px 0 5px;
  border-bottom: 1px solid #b3bec3;
}
.BoxProfileFilter li:last-child {
  border: none;
}
.Count {
  float: right;
  padding: 3px 4px 0;
  margin-top: 1px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
  background: #b3bec3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.User {
  display: flex;
  align-items: center;
}
.User .ProfilePhoto {
  height: 80px;
  width: 80px;
}
.profile-info {
  margin: 0 15px;
  align-self: flex-end;
}
.profile-info h4 {
  margin: 0;
}
.profile-email {
  font-size: 1rem;
  color: #b3bec3;
  font-family: "dattofont";
  font-weight: 400;
}
.profile-username {
  font-size: 1.25rem;
  font-family: "dattofont";
  font-weight: 400;
}

.Profile .P {
  margin: 0;
  align-self: flex-end;
  flex: 1;
}
.Profile .About .H {
  display: none;
}
.Profile .About .About {
  float: right;
}
.Profile .About dt {
  display: none;
}
.Profile .About dd {
  font-size: 0.75rem;
  color: #b3bec3;
  font-family: "dattofont";
  text-transform: uppercase;
}
.Profile .Buttons {
  margin: 0;
}

/*.FormTitleWrapper {
  margin-top: 7px;
}*/
#ConversationForm label {
  color: #81949b;
}
ul.token-input-list {
  display: flex;
  align-items: center;
  color: #002a3a;
  border-color: 1px solid #b3bec3;
}
li.token-input-token {
  padding: 6px 10px 4px;
  margin: 0 5px;
  font-size: 0.875rem;
  border: 1px solid #b3bec3;
  border-radius: 0;
  background-color: #f5f6f7;
}

/**
 * Responsive Styles
 * ================
**/

@media (max-width: 1199px) {
  main,
  .discussions-header-container,
  .navbar-nav,
  .footer-inner {
    max-width: 1000px;
  }

  .site-content,
  .discussions-header-text,
  .navbar-brand {
    width: 70%;
  }
}
@media (max-width: 999px) {
  main,
  .discussions-header-container,
  .navbar-nav,
  .footer-inner {
    max-width: 800px;
  }

  .site-content,
  .discussions-header-text,
  .navbar-brand {
    width: 64%;
  }
}



