/* ---- Edit CSS ----

If you are unfamiliar with CSS, there are some learning resources in the help
section on the right-hand side of the page.

Here are some things you should know before you begin:

1. Any definitions you enter here will be related to your custom theme. If you
   change to a different theme, these definitions will no longer be visible on
   this page. If you switch back to your custom theme, your changes will be
   present.

2. Your custom css definitions will be included *after* the theme
   css files. So, your definitions will take precedence over the theme ones.

3. When you preview your changes, you are the only one who can see the preview.

4. Feel free to delete these comments!

*/

/**
 * Top Level
 * =========
**/

body {
  font-size: 16px;
  font-family: "dattofont";
  font-weight: 400;
  line-height: 1.5rem;
  color: #002a3a;
  background-color: #F5F6F7;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
main.row {
  flex:3;
}
a,
a:visited {
  color: #199ed9;
}
a:hover {
  color: #002a3a;
}

/**
 * Layout / lt-*
 * =====    ----
**/

.lt-flex-center {
  display: flex;
  align-items: center;
}

/**
 * Colors
 * =====
 *
 * blue: #199ed9;
 * teal: #54c0c0;
 * citrus: #b0d156;
 * midnight: #002a3a;
 * gray-light: #f5f6f7;
 * gray: #b3bec3;
 * gray-dark: #81949b;
 *
**/

/**
 * Fonts
 * =====
**/

@font-face {
  font-family: 'dattofont';
  font-style: normal;
  font-weight: 400;
  src: url(https://www.datto.com/fonts/dattofont-Regular.woff) format('woff');
}

@font-face {
  font-family: 'dattofont-bold';
  font-style: normal;
  font-weight: 400;
  src: url(https://www.datto.com/fonts/dattofont-Bold.woff) format('woff');
}

@font-face {
  font-family: 'dattofont-condensed-bold';
  font-style: normal;
  font-weight: 400;
  src: url(https://www.datto.com/fonts/dattofont-CondBold.woff) format('woff');
}

h1, h2, h3 {
  font-family: "dattofont-condensed-bold";
  margin: 0;
}

/**
 * Buttons / Dropdowns
 * ===================
**/

.Button,
.Button:focus {
  display: inline-block;
  padding: 6px 15px 4px !important;
  margin-bottom: 0;
  font-size: 14px !important;
  font-weight: 400;
  font-family: 'dattofont';
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #199ed9;
  background-image: none;
  border: 1px solid #199ed9;
  border-radius: 0;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: none;
  box-shadow: none;
}
.Button:visited {
  color: #FFF;
}
.Button:hover,
.Button:active {
  color: #199ed9;
  border: 1px solid #199ed9 !important;
  border-color: #199ed9 !important;
  background-color: #FFF !important;
  background: #FFF !important;
}
.Handle {
  padding: 5px 11px !important;
}
.MenuItems {
  margin: 0;
  padding: 0;
  font-size: 12px !important;
  font-weight: 400;
  font-family: 'dattofont';
  line-height: 1.42857143;
  border: 0;
}
.MenuItems a {
  padding: 10px 20px !important;
  color: #002a3a !important;
  text-transform: uppercase;
  border: none;
}
.MenuItems a:hover {
  background-color: #e5e9eb !important;
}
.MenuItems hr {
  margin: 0;
}

/**
 * Forms
 * =====
**/

form {
  font-family: "dattofont" !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  color: #002a3a !important;
}
/**
 * Search Bar
 * ==========
**/

.search-container {
  margin-top: 25px;
}
#Form_Search {
  width: 38.5rem;
  padding: 6px 5px 8px 40px;
  font-size: 1.15rem;
  font-family: 'dattofont';
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
}
#Form_Go {
  display: none;
}
.search-container i {
  position: relative;
  left: -18.25rem;
  top: 28px;
  font-size: 1.5rem;
}
input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}
input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  color: white;
  opacity: 0.5;
}
input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

/**
 * Navbar
 * ======
**/

.navbar {
  background-color: #002a3a; // midnight
  border-bottom: none;
}

.navbar-nav {
  margin: 0 auto;
  padding: 15px 0;
  max-width: 1200px;
}

.navbar-brand {
  display: flex;
  align-items: flex-end;
  width: 75%;
  margin-right: 50px;
}
.navbar-logo {
  display: block;
  margin: -25px 0;
  width: 90px;
  font-size: 90px;
  color: #FFFFFF;
}
.navbar-logo:hover,
.navbar-logo:active,
.navbar-logo:visited {
  color: #FFF;
}
.navbar-brand img {
  display: none;
}
.navbar-product {
  margin: 0 0 7px 15px;
  padding: 1px 0 0 15px;
  border-left: 1px solid #FFF;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #FFF;
  text-transform: uppercase;
}

.navbar-meModule .WhoIs {
  display: flex;
  min-height: 0px;
}
.navbar-meModule .PhotoWrap {
  display: none;
}
.navbar-meModule .Username,
.MeBox-SignIn .SignInLinks a {
  margin-bottom: -6px;
  padding: 10px 25px 7px;
  font-family: "dattofont";
  text-transform: uppercase;
  color: #FFF;
}
.navbar-meModule .Username:hover,
.MeBox-SignIn .SignInLinks a:hover {
  color: #002a3a;
  background-color: #e5e9eb;
}
.navbar-meModule .MeBox-SignIn {
  display: block;
}
.MeBox-SignIn .Bullet {
  display: none;
}

.Popup .Border {
  background: none;
  padding: 0;
}
.Popup .Content {
  padding: 15px 25px;
  font-family: "dattofont";
  font-size: 1rem;
  line-height: 1.5rem;
}
.Popup .CreateAccount {
  margin-top: 5px;
}
.Overlay {
  background-color: rgba(0,42,58,0.25);
}

/**
 * Sidebar
 * =======
**/

.site-sidebar {
  margin: 38px 0 0;
}

.BoxPromoted {
  margin: 35px 0;
}
.BoxPromoted h4 {
  margin-bottom: 10px;
  color: #b3bec3;
  font-family: 'dattofont-condensed-bold';
  font-size: 24px;
  text-transform: uppercase;
}
.BoxPromoted .PromotedGroup .Item {
  padding: 0;
  border: none !important;
}
.BoxPromoted .PromotedGroup .Item div {
  display: none;
}
.BoxPromoted .PromotedGroup .Item .Title {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-family: "dattofont";
  line-height: 1.5rem;
}

.sidebar-coc {
  color: #199ed9 !important;
  border: 1px solid #199ed9;
  border-color: #199ed9;
  background-color: #FFF;
  background: #FFF;
}

/**
 * Footer
 * ======
**/

.footer {
  position: relative;
  width: 100%;
  overflow: auto;
  background-color: #e5e9eb;
  margin-top: 5%;
}
.footer a {
  font-size: 14px !important;
}

.footer-inner {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1200px;
}

.footer-left,
.footer-right {
  padding: 50px 25px 50px 0px;
  width: 37.5%;
  float: left;
  display: flex;
}

.footer-left ul:last-child,
.footer-right ul:last-child {
  float: right;
  padding-right: 0;
}

.footer ul {
  float: left;
/*  padding: 50px 5% 30px; */
  padding: 0 25px 0 0;
  margin: 0;
  width: 50%;
}

.footer ul li:first-child {
 font-weight: 600;
 text-transform: uppercase;
 padding-bottom: 10px;
}

.footer ul li a {
  color: #9aa9af;
}
.footer ul li a:hover {
  color: #199ed9;
}

.footer .submit-a-request {
  font-size: 12px;
  float: left;
  border-color: #9aa9af !important;
}

/**
 * Landing / Category List
 * =======================
**/

.categories-header {
  padding: 50px 0;
  color: white;
  text-align: center;
  background-color: #199ed9;
}

.categories-header h1 {
  margin: 15px 0 20px 0;
  font-size: 3.5em;
  text-transform: uppercase;
}

.categories-header h3 {
  font-size: 2.25em;
}

.HomepageTitle {
  display: none;
}
.show-title {
  display: block;
}

.CategoryList {
  border: none;
  box-shadow: none;
}

.CategoryList .Depth1 {
  color: #b3bec3;
  font-family: 'dattofont-condensed-bold';
  border: none;
}
.CategoryList .Depth1 .Category {
  font-size: 24px;
  text-transform: uppercase;
}

.CategoryList .Depth2 {
  padding: 25px 25px 0!important;
  margin-bottom: -1px !important;
  border: 1px solid #B3BEC3 !important;
  background-color: white !important;
}

.CategoryList .TitleWrap a {
  font-size: 28px;
  font-family: "dattofont-condensed-bold";
}

.CategoryList .CategoryDescription {
  color: #B3BEC3;
  font-size: 14px;
}

.CategoryList .Meta {
  display: none;
  order: -1;
  flex: 2;
  margin-top: 13px;
  font-size: 14px;
  color: #B3BEC3;
}

.CategoryList .Meta .DiscussionCount {
  flex: 2;
}
.CategoryList .Meta .RSS,
.CategoryList .Meta .CommentCount,
.CategoryList .Meta .LastCommentDate,
.CategoryList .ItemContent .Options {
  display: none;
}

.CategoryDescription {
  padding-bottom: 25px;
  border-bottom: 2px solid #b3bec3;
}

.site-row {
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.site-content {
  width: 75%;
  margin-right: 50px;
}

/* RSS Feeds / Recent discussions per category */
.discussion-meta {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  border-top: 1px solid #b3bec3;
  font-size: 0.75rem;
  color: #b3bec3;
}
.discussion-meta p {
  margin: 0;
}

.discussion-meta-title {
  width: 100%;
  font-size: 1rem;
  color: #199ed9;
  text-transform: capitalize;
}

.discussion-meta-created {
  padding-right: 5px;
}
.CategoryList .Category-announcements {
  display: none;
}

/**
 * Discussions List
 * ================
**/

.Discussions>.Item {
  height: 45px;
  padding: 15px;
  margin-bottom: -1px;
  background-color: #FFF;
  border: 1px solid #b3bec3;
}
.Discussions .Discussion {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Discussions .Item .Options,
.Discussions .Discussion .ViewCount {
  display: none;
}
.Discussions .Discussion .Title {
  margin-top: -3px;
}
.Discussions .Discussion .Title a {
  font-size: 1.125rem;
  text-transform: capitalize;
}
.Discussions .Discussion .Meta {
  font-size: 0.875rem;
}
.Discussions .Discussion .MItem {
  margin: 0;
  color: #b3bec3;
}
.Discussions .Discussion .CommentCount {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 2.25rem;
}
.Discussions .Discussion .CommentCount span {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  font-size: 0.875rem;
  text-align: center;
  cursor: default;
}

.Discussions .Discussion .Tag- {
  position: relative;
  top: 3px;
  padding: 0;
  font-size: 1.25rem;
  color: #b0d156;
  background-color: transparent;
}

.discussion-author {
  margin-right: 15px;
}
.discussion-info {
  margin-bottom: -6px;
}






